extends layout

block content
  h1= title
  .request-time
    p Conexão feita em: #{connectionTime}
  .video-container
    canvas#video-canvas(width="640" height="480")
  .post-data
    p Velocidade: 
    span.key= speed
    br
    p Direção: 
    span#current-direction Nenhuma
  
  .control-buttons
    button#connect-button(type="button") Conectar
    button#disconnect-button(type="button") Desconectar
  
  script(src="/javascripts/script.js")